.quadrado{
    background-color: black;
    width: 80%;
    border-radius: 5px;
    margin: 10px auto;
}
.quadrado > p{
    text-align: center;
    font-family: "Poppins";
    color: white;
    font-size: 2em;
}